  <ion-card class="card-modal">
    <ion-card-header class="card-header">
      VOS LIEUX:
    </ion-card-header>
    <ion-item class="item-content">
      <button ion-button color="danger"  *ngFor="let chosenCity of chosenCities" class="chosen-cities" (click)="removeCity(chosenCity)">
        {{chosenCity.name}} <span style="text-transform:none;margin-left:10px;">x</span>
      </button>
      <ion-searchbar [(ngModel)]="searchCity"  class="card-searchbar" placeholder="Ville, Code Postale" ></ion-searchbar>
    </ion-item>
    <ion-list>
      <button ion-item *ngFor="let city of autoCompleteCities" (click)="citySelected(city)" class="city-button">
        {{ city.name | lowercase }}
      </button>
    </ion-list>
  </ion-card>
  <br>
  <ion-card class="card-modal type-card">
    <ion-card-header class="card-header">
      Prix Max/min
    </ion-card-header>
    <ion-item class="item-content">
      <ion-range [(ngModel)]="searchParamsService.searchQuery.price" color="danger" pin="true" min="0" max="1000" step="1"  dualKnobs="true">
        <span range-left>{{searchParamsService.searchQuery.price.lower}}‎€</span>
        <span range-right>{{searchParamsService.searchQuery.price.upper}}‎€</span>
      </ion-range>
    </ion-item>
  </ion-card>
   <br>
   <ion-card class="card-modal type-card">
     <ion-card-header class="card-header">
       Piéces
     </ion-card-header>
     <ion-item>
       <ion-label>Nombre des pieces</ion-label>
       <ion-select [(ngModel)]="searchParamsService.searchQuery.nbrRooms" multiple="true">
         <ion-option value=1> 1</ion-option>
         <ion-option value=2> 2</ion-option>
         <ion-option value=3> 3</ion-option>
         <ion-option value=4> 4</ion-option>
         <ion-option value=5> 5</ion-option>
         <ion-option value=6> 5+</ion-option>
       </ion-select>
     </ion-item>
   </ion-card>
   <br>
   <ion-card class="card-modal type-card">
     <ion-card-header class="card-header">
       Type locateur
     </ion-card-header>
     <ion-item class="item-content">
       <ion-label>Particulier</ion-label>
       <ion-checkbox color="danger" [(ngModel)]="searchParamsService.searchQuery.isPerso" class="modal-checkbox"></ion-checkbox>
     </ion-item>
     <ion-item class="item-content">
       <ion-label>Agence</ion-label>
       <ion-checkbox color="danger" [(ngModel)]="searchParamsService.searchQuery.isPro" class="modal-checkbox"></ion-checkbox>
     </ion-item>
   </ion-card>
   <br>
  <ion-card class="card-modal type-card">
    <ion-card-header class="card-header">
      Type Location
    </ion-card-header>
    <ion-item class="item-content">
      <ion-label>Maison</ion-label>
      <ion-checkbox color="danger" [(ngModel)]="searchParamsService.searchQuery.isMaison"  class="modal-checkbox"></ion-checkbox>
    </ion-item>
    <ion-item class="item-content">
      <ion-label>Appartement</ion-label>
      <ion-checkbox color="danger" [(ngModel)]="searchParamsService.searchQuery.isAppart"  class="modal-checkbox"></ion-checkbox>
    </ion-item>
    <ion-item class="item-content">
      <ion-label>Studio</ion-label>
      <ion-checkbox color="danger" [(ngModel)]="searchParamsService.searchQuery.isStudio"  class="modal-checkbox"></ion-checkbox>
    </ion-item>
    <ion-item class="item-content">
      <ion-label>Parking , Garage</ion-label>
      <ion-checkbox color="danger" [(ngModel)]="searchParamsService.searchQuery.isGarage"  class="modal-checkbox"></ion-checkbox>
    </ion-item>
    <ion-item class="item-content">
      <ion-label>Local Commercial</ion-label>
      <ion-checkbox color="danger" [(ngModel)]="commerce" class="modal-checkbox"></ion-checkbox>
    </ion-item>
  </ion-card>
